body {
    font-family: "Didact Gothic", sans-serif;
    font-size: 19px;
    color: #1C4587;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* S E C C I O N   H E A D E R -----------------------------------------------------------------------------------------*/

header {
    display: grid;
    grid-template-columns: 1.99fr 0.01fr;
    align-items: center;

    background-color: #f4f4f4;
    color: #1C4587;
    text-align: center;
    padding: 10px;
}

.header-container {
    grid-row: span 2;
}

.logo-container img {
    max-width: 15em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li:last-child {
    margin-right: 0;
}

nav li a {
    text-decoration: none;
    color: #1C4587;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin-right: 20px;
}

.contador-contenedor {
    width: 75%;
    height: 60%;
    background: url(../assets/carrito.png) no-repeat center center;
    background-size: cover;
    position: relative;
    margin-top: 30px;
    cursor: pointer;
    text-align: right;
}

.contador-contenedor a {
    display: inline-block;
    width: 65px;
    height: 65px;
}

.contador {
    background-color: transparent;
    color: #f4f4f4;
    border-radius: 50%;
    margin-top: 4px;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* I M A G E N  P R I N C I P A L --------------------------------------------------------------------------------------*/
.contenedor-img-principal {
    position: relative;
    display: inline-block;
}

.img-principal {
    width: 100vw;
    height: auto;
}

.titulo-img-principal {
    position: absolute;
    top: 75%;
    background: none;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-family: "Gotu", sans-serif;
    background: none;
    color: #FF934F;
    font-size: 3.5rem;
    width: 100vw;
    margin: 0;
}

.contactenos {
    background-color: transparent;
    color: #FF934F;
    border: 2px solid #FF934F;
    border-radius: 35px;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contactenos:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #FF934F;
}


/* S E C C I O N   D E S C R I P C I O N  ------------------------------------------------------------------------------*/
.description-container {
    margin: 0 3% 0 3%;
}

.grid-container {
    display: grid;
}

h2 {
    grid-column: span 2;
    text-align: center;
    font-family: "Gotu", sans-serif;
    font-size: 3em;
    color: #1C4587;
    margin: 50px 0 50px 0;
}

.description {
    display: grid;
    padding: 0 30px 0 30px;
    color: #1C4587;
    font-size: 1.3rem;
    text-align: center;
}

.img-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-description img {
    max-width: 100%;
    border-radius: 50%;
}

/* S E C C I O N   C U R S O S -----------------------------------------------------------------------------------------*/
#cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.curso {
    color: #1C4587;
    width: 400px;
    border: 3px solid #1C4587;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.curso:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 10px #888;
    background-color: #FFFDF7;
    font-size: 19.5px;
}

button {
    background-color: #1C4587;
    color: #f4f4f4;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #202030;
}

/* S E C C I O N   E L E G I R N O S -----------------------------------------------------------------------------------*/
.elegirnos-contenedor {
    margin: 50px 30px 80px 30px
}

.elegirnos-grid {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}

.elegirnos-descripcion ul {
    font-size: 1.3rem;
}

/* F O O T E R ---------------------------------------------------------------------------------------------------------*/
footer {
    background-color: #1C4587;
    color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

footer div {
    flex: 1 0 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

footer h3 {
    margin-bottom: 0;
}

.logo-footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-direccion {
    flex-direction: row;
}

.contenedor-direccion img {
    height: 25%;
    padding-top: 15px;
    padding-right: 5px;
}

.logo-footer img {
    max-width: 15em;
}

.iconos-contacto {
    display: -webkit-inline-box;
    margin: 0;
}

.iconos-contacto img {
    width: 30px;
    margin-top: 21px;
}

.en-linea {
    margin-left: 8px;
}

/* D E S I N G ------------------------------------------------------------------------------------------------------- */
.design {
    margin: 60px 0 20px 0;
    text-align: center;
}

.design a {
    color: #f4f4f4;
}

/* M E N S A J E   F I N A L I Z A R   C O M P R A  ---------------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* P A G I N A   C A R R I T O -----------------------------------------------------------------------------------------*/
.contenedor-detalle-carrito {
    display: flex;
    margin-bottom: 20px;
}

.carrito-img {
    flex: 1;
    background-color: #f4f4f4;
    box-sizing: border-box
}

.img-carrito {
    width: 100%;
}

.detalle-carrito {
    flex: 2;
    flex-direction: row;
}

.carrito {
    padding-left: 30px;
}

#total-carrito {
    font-weight: 900;
    text-shadow: 1px 2px 3px #888
}

#boton-finalizar-compra {
    padding: 15px;
    font-size: large;
    width: 150px;
}

#boton-vaciar-carrito {
    padding: 15px;
    font-size: large;
    width: 150px;
    background: #f4f4f4;
    color: #1C4587;
    border: 2px solid #1C4587;
    border-radius: 6px;
}

/* P A G I N A   C O N T A C T E N O S ---------------------------------------------------------------------------------*/

.img-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/consultar.webp');
    background-size: cover;
    background-position: center;
    color: #f4f4f4;
    text-align: center;
}

.contacto-h1 {
    margin-top: 20%;
    color: #FF934F;
}

.formulario-contenedor {
    border: 2px solid #1C4587;
    margin: 20px;
}

.contacto-p {
    margin-left: 20px;
    font-size: 2rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.formulario label {
    width: 40%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.formulario input,
.formulario select,
.formulario textarea {
    width: 40%;
    padding: 6px;
    font-size: 16px;
    border: 1px solid #1C4587;
    border-radius: 6px;
    box-sizing: border-box;
}

.select-estilo {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1C4587;
    border-radius: 6px;
    box-sizing: border-box;
    appearance: none;
    background-color: #f4f4f4;
    color: #1C4587;
    cursor: pointer;
}

.select-estilo:hover,
.select-estilo:focus {
    border-color: #3665A7;
}

/* Estilo para el botón */
.btn-enviar {
    width: 20%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #1C4587;
    color: #f4f4f4;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: #3665A7;
}


/* M E D I A   Q U E R I E S */
@media only screen and (max-width: 1010px) {
    h1 {
        font-size: 3rem;
    }

    .contactenos {
        font-size: 1.29rem;
        padding: 0.86rem;
    }
}

@media only screen and (max-width: 974px) {

    footer {
        display: block;
    }

    .logo-footer {
        align-items: baseline;
    }

    .btn-enviar {
        width: 30%;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 2.7rem;
    }

    .contactenos {
        font-size: 1.07rem;
        padding: 0.71rem;
    }

    .formulario label,
    .formulario input,
    .formulario select,
    .formulario textarea {
        width: 50%;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 17px;
    }

    .nav-menu ul {
        display: none;
    }

    .nav-menu.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav-menu.active ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle .hamburger {
        width: 25px;
        height: 20px;
        margin: 5px 0;
        transition: transform 0.4s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .menu-toggle .hamburger .line {
        width: 100%;
        height: 3px;
        background-color: #1C4587;
        transition: transform 0.4s;
    }

    .menu-toggle.active .hamburger:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active .hamburger:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .hamburger:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    h2 {
        font-size: 2em;
    }

    .grid-container,
    .elegirnos-grid {
        display: block;
    }

    .contacto-p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 2rem;
    }

    .contactenos {
        font-size: 0.86rem;
        padding: 0.57rem;
    }

    .contador-contenedor a {
        width: 60px;
        height: 60px;
    }

    .contador {
        font-size: 13px;
    }

    .formulario label,
    .formulario input,
    .formulario select,
    .formulario textarea {
        width: 60%;
    }

    .btn-enviar {
        width: 50%;
    }

    .carrito-img {
        flex: 1.3;
    }
}

@media only screen and (max-width: 520px) {
    h1 {
        font-size: 1.5rem;
    }

    .contactenos {
        font-size: 0.64rem;
        padding: 0.43rem;
    }

    .contador-contenedor a {
        width: 55px;
        height: 50px;
    }

    .contacto-p {
        font-size: 1.1rem;
    }

    .formulario label,
    .formulario input,
    .formulario select,
    .formulario textarea {
        width: 70%;
    }

    .carrito-img {
        flex: 1.5;
    }

    .carrito {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 450px) {

    .formulario label,
    .formulario input,
    .formulario select,
    .formulario textarea {
        width: 90%;
    }

    .btn-enviar {
        width: 70%;
    }

    .contenedor-detalle-carrito {
        display: block;
    }

    .img-carrito {
        height: 100vw;
    }
}

@media only screen and (max-width: 420px) {
    h1 {
        font-size: 1.2rem;
    }

    .contactenos {
        font-size: 0.55rem;
        padding: 0.35rem;
    }
}